* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 900px;
  height: 500px;
  margin: 0 10px;
  border: 5px solid transparent;
  border-radius: 20px;
  -webkit-box-shadow: 6px 15px 11px #4a4b5e;
          box-shadow: 6px 15px 11px #4a4b5e;
}

.container .images {
  position: relative;
  width: 700px;
}

.container .images .pattern {
  position: absolute;
  width: 1000px;
  height: 500px;
  top: -320px;
  left: -650px;
  -webkit-transform: rotateX(-100deg);
          transform: rotateX(-100deg);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container .images .box {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -50px;
  left: -70px;
  z-index: 1;
}

.container .images .desktop {
  position: absolute;
  width: 350px;
  height: 350px;
  top: -190px;
  left: -30px;
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
}

.container .faq {
  font-size: 12px;
  width: 800px;
}

.container .faq .title {
  margin-bottom: 10px;
}

.container .faq .content .active > h4 {
  color: #4a4b5e;
}

.container .faq .content .active > p {
  display: block;
}

.container .faq ul {
  list-style-type: none;
  width: 90%;
}

.container .faq ul li {
  width: 100%;
  -webkit-box-shadow: 0 1px 0 0 #e7e7e9;
          box-shadow: 0 1px 0 0 #e7e7e9;
  padding: 20px 0;
}

.container .faq ul li h4 {
  color: #787887;
  cursor: pointer;
  display: block;
  width: 100%;
  position: relative;
  padding-right: 15px;
}

.container .faq ul li h4 img {
  position: absolute;
  top: 5px;
  right: 0;
}

.container .faq ul li h4:hover {
  color: #f47c57;
}

.container .faq ul li p {
  display: none;
  color: #787887;
  margin-top: 15px;
  width: 100%;
}

@media (max-width: 460px) {
  body {
    height: 100vh;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
  .container .images {
    position: relative;
    width: 300px;
  }
  .container .images .pattern {
    position: absolute;
    width: 300px;
    height: 500px;
    top: -230px;
    left: 0px;
    -webkit-transform: rotateZ(175deg);
            transform: rotateZ(175deg);
  }
  .container .images .box {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -100px;
    left: 10px;
    z-index: 1;
  }
  .container .images .desktop {
    position: absolute;
    width: 250px;
    height: 250px;
    top: -200px;
    left: 20px;
  }
  .container .faq {
    font-size: 12px;
    width: 250px;
  }
  .container .faq .title {
    margin-bottom: 10px;
  }
  .container .faq .content .active > h4 {
    color: #4a4b5e;
  }
  .container .faq .content .active > p {
    display: block;
  }
  .container .faq ul {
    list-style-type: none;
    width: 95%;
  }
  .container .faq ul li {
    width: 100%;
    -webkit-box-shadow: 0 1px 0 0 #e7e7e9;
            box-shadow: 0 1px 0 0 #e7e7e9;
    padding: 20px 0;
  }
  .container .faq ul li h4 {
    color: #787887;
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
    padding-right: 15px;
  }
  .container .faq ul li h4 img {
    position: absolute;
    top: 5px;
    right: 0;
  }
  .container .faq ul li h4:hover {
    color: #f47c57;
  }
  .container .faq ul li p {
    display: none;
    color: #787887;
    margin-top: 15px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 500px;
  }
  .container .images {
    position: relative;
    width: 300px;
  }
  .container .images .pattern {
    width: 850px;
    height: 500px;
  }
  .container .images .box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -90px;
    left: -55px;
  }
  .container .images .desktop {
    width: 250px;
    height: 250px;
  }
  .container .faq {
    width: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */